html{
  scroll-behavior: smooth; 
}
/*html endar*/

/*selection*/
p::selection { 
background: white; 
  color:black;
}
h1::selection { 
  background: none;
  margin: 20px;
  color:black;
  text-shadow: 0px 6px rgb(219, 15, 15);

}
/*selection endar*/

/*síða*/
main{
text-align: center;
}
article,aside{
background-color: #ffffff69;
border: 2px solid black;
margin-left: 0;
margin-right: 0;
padding: 0.5em;
display: block;
text-align: left;
}
.top{
  font-size: 100px;
  text-align: center;
  margin: 0;
  color: white;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 0px 6px black;
  margin-top: 200px;
}
  /*texti animation*/
#float {
  animation: animate 4s infinite;
}
@keyframes animate{
  0%{
      transform: translateY(0);
  }
  25%{
      transform: translatey(-10px);
  }
  50%{
      transform: translateY(0px);
  }
  75%{
      transform: translateY(-10px);
  }
  100%{
      transform: translateY(0);
  }
}

  /*endi texta animation*/

body {
margin: auto;
  background-repeat: no-repeat;
background-attachment: fixed;
background-size:cover;
background-position: center;
}
#content {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
#index {
background-image: url(myndir/riddari.jpg);
}
#sida_2_img {
background-image: url(myndir/human-looking-into-space.jpg);
}
#sida_3_img {
background-image: url("myndir/jord.jpg");
}
#heimildir_background {
background-image: url(myndir/heimildir.jpg);
}
footer{
  text-align: center;
}
img{
width: 100%;
}
#edwin {
  width: 250px;
}
h2 {
  font-family: 'Orbitron', sans-serif;
}


/*síða endar*/

/************/
/*navigation*/
/************/

.mainnav {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
#takki, .mainnav a{
  margin-left: 40px;
  margin-right: 40px;
  text-decoration: none;
  border: 3px solid black;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  background-color: white;
  color: black;
  font-family: 'Orbitron', sans-serif;
}
#takki:hover, .mainnav a:hover{
cursor: pointer;
background-color: #ebe5e5;
border: 3px solid white;
}
#takki:active ,.mainnav a:active {
color: red;
background: black;
border: 3px solid red;
}

.btn-takki{
padding:1em;
border: 2px solid #000000;
text-decoration: none;
  color:black;
  font-family: 'Open Sans Condensed', sans-serif;
background-color: white;
}



/*Navigation endar*/


/* Stars 
------------------------------------- */

#space, .stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stars {
  background-image: 
    radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;
  animation: zoom 2s infinite;
  opacity: 0;
}

.stars:nth-child(1) {
  background-position: 50% 50%;
  animation-delay: 0s;
}
.stars:nth-child(2) {
  background-position: 20% 60%;
  animation-delay: 500ms;
}
.stars:nth-child(3) {
  background-position: -20% -30%;
  animation-delay: 1s;
}
.stars:nth-child(4) {
  background-position: 40% -80%;
  animation-delay: 1500ms;
}
.stars:nth-child(5) {
  background-position: -20% 30%;
  animation-delay: 2s;
}
.stars:nth-child(6) {
  background-position: 40% -80%;
  animation-delay: 2500ms;
}
.stars:nth-child(7) {
  background-position: -20% 30%;
  animation-delay: 3s;
}
.stars:nth-child(8) {
  background-position: -20% 30%;
  animation-delay: 3500ms;
}
.stars:nth-child(9) {
  background-position: 40% -80%;
  animation-delay: 4s;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    animation-timing-function: ease-in;
  } 
  85% {
    opacity: 1;
    transform: scale(2.8);
    animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    transform: scale(3.5);
  }
}

/*Grid*/

Section{
margin-top: 2em;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 0.5em;
}
article{
grid-column: 1/6
}
aside:nth-of-type(1){
grid-column: 1/4
}
aside:nth-of-type(2){
grid-column: 4/5
}
div {
  grid-column: 1/5;
}



