/* MOBILE-UP LAYOUT */
/* ====== GRID Area ====== */
h1{ grid-area: titill;}
nav{ grid-area: takkar;}
img{ grid-area: tinni;}
div.index {grid-area: index;}
div.subs{ grid-area: subs;}
div.YT{ grid-area: media;}
footer{ grid-area: fotur;}
img.text-img{ grid-area: mynd;}
p{ grid-area: texti;}
dl{ grid-area: dl;}
div.map{ grid-area: kort;}
ul{ grid-area: listi;}
/* ====== GRID Template Areas ===== */
body, nav{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:

    "index"
    "subs"
    "fotur"
    ;
}
.index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    
    "titill"
    "takkar"
    "tinni"
    ;
}
    main {
        text-align: center;
    }
    body, footer {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
    }
    body {
        background-image: linear-gradient(#20436d,#1a92c1);
    }
    footer{
        background-color: #dad1c2;
    }
    .index{
        text-align: center;
    }
    a.tin {
        list-style-type: none;
        margin: 2vw;
        font-size: 4vw;
        background-color: #f7ca58;
        color:black;
        border: 0.5vw solid #161616;
        text-decoration: none;
        font-family: 'Oswald', sans-serif;
    }
    a.tin:hover {
        color: #f7ca58;
        background-color: black;

    }
    a.tin:active{
        color: #f7ca58;
        background-image: linear-gradient(#20436d,#1a92c1);
        -webkit-text-stroke: 2px #161616;

    }
    .tintin {
        padding: 0;
        font-family: 'Oswald', sans-serif;
        color: #f7ca58;

    }
    h1 {
        -webkit-text-stroke: 0.5vw #161616;
        font-size: 12vw;
    }
    h2{
        margin: 1em;
    }

    .tintin::selection {
        color: #f7ca58;
        background: #161616;
    }
    img {
        max-width: 100%;
    }

    .YT, .map{
        text-align: center;
    }
    dl {
        margin: 2em;
    }
    .pi, p{
        background-color: rgb(247, 202, 88);
    }
/* Skjástærðir */
@media only screen and (min-width: 30em){

}

@media only screen and (min-width: 37.5em){
    .index {
        margin-left: 1em;
        margin-right: 1em;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        
        "titill tinni"
        "takkar tinni"
        ;
    }
    nav {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        
        "a a"
        "a a"
        ;
        
    }
    a {
        margin: 0;
        padding: 20px;
        margin: 20px;
    }
    img.tinni_mynd {
        height: 130%;
        max-width: 100%;
    }
    .author, .iceland, .about{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        
        "mynd texti"
        ;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        
        "dl listi"
        "kort listi"
        ;
    }
    
}

@media only screen and (min-width: 48em){
    .index {
        justify-content: center;
        text-align: center;
        padding: 0;
        display: grid;
    }
    .author, .iceland, .about{
        display:grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
        
        "mynd texti"
        ;
    }
}   