ul {
    margin-top: 50px;
}

.block {
    
    display: block;
    border: 3px dashed green;
    padding: 20px;
    margin: 20px;
}

.inline {
    display: inline;
    border: 3px dashed blue;
    color: red;
    padding: 20px;
    margin: 20px;
}

.inline-block {
    display: inline-block;
    border: 3px dashed red;
    padding: 20px;
    margin: 20px;
}